*{
    margin: 0;
    padding: 0;
}

.bottom{
    width: 100%;
    height: 200px;
}
.Header{
    width:100%;
    height:68px;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color:#fffaf3;
    font-weight:bold;
    background-color:#d3d3d3;
}
.Header{
    width:100%;
    height:68px;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color:#fffaf3;
    font-weight:bold;
    background-color:#d3d3d3;
}
.Header .LeftHeader{
    height: 68px;
    width: 110px;
    font-weight: 700;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    line-height: 68px;
    letter-spacing: 5px;
    position: absolute;
    top: 0;
    left: 20px;
}
.Header .RightHeader{
    height: 68px;
    width: 110px;
    font-weight: 700;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    line-height: 68px;
    letter-spacing: 5px;
    position: absolute;
    top: 0;
    right: 10px;
}
.Header .MiddleHeader{
    height: 68px;
    width: 150px;
    font-weight: 700;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    line-height: 68px;
    letter-spacing: 5px;
    position: absolute;
    top: 0;
    right: 90px;
}
.Header a{
    height: 68px;
    width: 110px;
    display: block;
    background-color: transparent;
    color: black ;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    right: 0px;
  }
  .Header a:hover{
    height: 68px;
    width: 150px;
    background-color:white;
    top: 0px;
    display: block;
  }
.limiter {
    width: 100%;
    margin: 0 auto;
  }
#Body .left{ 
        position: relative; 
        top: 90px; 
} 
#Body .Search{ 
    width:100%; 
    height:120px; 
    top:10px; 
    left: 0px; 
    position: relative; 
    text-align:center; 
    line-height:80px; 
    font-size:15px; 
    color: black; 
    font-weight:bold; 
    background-color:transparent; 
    }    
#Search{
    width:100%;
    height:120px;
    top:10px;
    left: 0px;
    position: relative;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color: black;
    font-weight:bold;
    background-color:transparent;
}   
input[type="text"]{padding:15px 40px; border:1px black solid;
    cursor:pointer;
    text-align: 0px;
    background: #fffefe;
    font-size: 20px; 
    font-weight: 700;
    width: 50%;
    height: 45px;
    border-radius: 20px;
    box-shadow: #333333;
    border-style: solid;
    padding-left: 10px;
    outline: none;
    outline-offset: 0;
}
input[type="submit"]{padding:20px 40px; border:2px; border:0 none;
    cursor:pointer;
    background: #f39153;
    color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}        

#Body{
    background-color:#c3edf5 ;
    background-position:right bottom;
    background-image: url(../images/background3.jpg);
    width:100%;
    height:500px;
    text-align:center;
    position: relative;
    line-height:280px;
    font-size:15px;
    color:#f9c81e;
    font-weight:bold;
}

#Footer{
    width:100%;
    height:80px;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color:#fffaf3;
    font-weight:bold;
    background-color:#d3d3d3;
}