*{
    margin: 0;
    padding: 0;
}

.bottom{
    width: 100%;
    height: 200px;
}
.Header{
    width:100%;
    height:68px;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color:#fffaf3;
    font-weight:bold;
    background-color:#d3d3d3;
}
.Header{
    width:100%;
    height:68px;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color:#fffaf3;
    font-weight:bold;
    background-color:#d3d3d3;
}
.Header .LeftHeader{
    height: 68px;
    width: 110px;
    font-weight: 700;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    line-height: 68px;
    letter-spacing: 5px;
    position: absolute;
    top: 0;
    left: 20px;
}
.Header .RightHeader{
    height: 68px;
    width: 110px;
    font-weight: 700;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    line-height: 68px;
    letter-spacing: 5px;
    position: absolute;
    top: 0;
    right: 10px;
}
.Header .MiddleHeader{
    height: 68px;
    width: 150px;
    font-weight: 700;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    line-height: 68px;
    letter-spacing: 5px;
    position: absolute;
    top: 0;
    right: 90px;
}
.Header a{
    height: 68px;
    width: 110px;
    display: block;
    background-color: transparent;
    color: black ;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    right: 0px;
  }
  .Header a:hover{
    height: 68px;
    width: 150px;
    background-color:white;
    top: 0px;
    display: block;
  }
.limiter {
    width: 100%;
    margin: 0 auto;
  }
  
#Search{
    width:100%;
    height:120px;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color: black;
    font-weight:bold;
    background-color:#f1f1f1;
}   
#Search .demo{
    padding-top: 20px;
    padding-left: 30px;
    text-align: center;
}
input[type="text"]{padding:15px 40px; border:1px black solid;
    cursor:pointer;
    text-align: 0px;
    background: #ffffff;
    font-size: 20px; 
    font-weight: 700;
    width: 50%;
    height: 45px;
    border-radius: 20px;
    box-shadow: #333333;
    border-style: solid;
    padding-left: 10px;
    outline: none;
    outline-offset: 0;
}
input[type="submit"]{padding:20px 40px; border:2px; border:0 none;
    cursor:pointer;
    background: #f39153;
    color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}        
#Type{
    width:100%;
    height:120px;
    position: relative;
    text-align:center;
    font-size:15px;
    color: black;
    font-weight:bold; 
}
#Type .tap{
    position: relative;
    width:20%;
    height:87%;
    left: 20%;
    padding: 0px 50px 10px -50px;
    text-align:center;
    line-height:120px;
    font-size:25px;
    color: black;
    font-weight:bold;
    box-sizing: border-box;
    cursor:pointer;
    display: inline-block;
}
#Type .tap a{
    position: relative;
    width:90%;
    height:87%;
    left: 0%;
    padding: 0px 50px 10px -50px;
    text-align:center;
    line-height:120px;
    font-size:25px;
    color: black;
    font-weight:bold;
    box-sizing: border-box;
    cursor:pointer;
    display: inline-block;
}
#Type .active{
    width:20%;
    height:87%;
    left: 20%;
    padding: 0px 50px 10px -50px;
    text-align:center;
    line-height:120px;
    color: black;
    font-weight:bold;
    position: absolute;
    z-index: 2px;/*-1 可以當背景*/
    font-size:25px;
    border-bottom: 5px solid #01ab59;
    cursor:pointer;
    display: inline-block;
}
#Type .active:before {
    display: block;
    content: "";
    border-width: 8px 12px 10px;
    border-style: solid;
    border-color: transparent transparent #01ab59;
    position: absolute;
    left: calc(50% - 5px);
    bottom: 0;
    display: inline-block;
}

#Body{
    background-position:right bottom;
    width:100%;
    height:500px;
    text-align:center;
    position: relative;
    line-height:280px;
    font-size:15px;
    color:#f9c81e;
    font-weight:bold;
}
#Body .center {
    position: absolute;
    height: 80%;
    width: 855px;
    left: 22%;
    top:35px;
    margin:8px;
}
.center .maps{
    position: absolute;
    left: -14%;
    height: 100%;
    font-size: 25px;
    border: 1px solid #1f3d35;
}
.center .right_bottom {
    position: absolute;
    right:107px;
    bottom: -0.5%;
    height: 82%;
    width: 200px;
}
.center .right_bottom .listing{
    position: absolute;
    border: 1px solid #1f3d35;
    right: 10px;
    bottom: 0px;
}

.center .option{
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 13%;
    width: 304px;
    right: 117px;
    top:0%;
    border: 1px solid #1f3d35;
}
.option .tap{
    position: relative;
    text-align: center;
    bottom: 110px;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 50px;
    line-height: 10px;
    display: inline-block;
    cursor: pointer;
}
.option .active:before {
    display: block;
    content: "";
    border-width: 4px 6px 5px;
    border-style: solid;
    border-color: transparent transparent #01ab59;
    position: absolute;
    left: calc(50% - 5px);
    bottom: 0;
}
.option .active{
    position: relative;
    color: black;
    border-bottom: 2px solid #01ab59;
    text-align: center;
    bottom: 110px;
    width: 50px;
    height: 35%;
    line-height: 10px;
    display: inline-block;
    cursor: pointer;
}

#Footer{
    width:100%;
    height:80px;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color:#fffaf3;
    font-weight:bold;
    background-color:#d3d3d3;
}