*{
    margin: 0;
    padding: 0;
}

.bottom{
    width: 100%;
    height: 200px;
}
.header{
    width:100%;
    height:100px;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color:#fffaf3;
    font-weight:bold;
    background-color:white;
}
.leftheader{
    display:inline-block;
    margin-right:10px;
    font-size: 16px;
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration:none;
    letter-spacing: 2px;
    position: absolute;
    top: 15px;
    right: 190px;
}

/*about us*/
.middleheader{
    display:inline-block;
    margin-right:10px;
    font-size: 16px;
    color: black;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration:none;
    letter-spacing: 2px;
    position: absolute;
    top: 15px;
    right: 110px;
}

/*log in*/
.rightheader{
    display:inline-block;
    margin-right:10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration:none;
    letter-spacing: 2px;
    position: absolute;
    top: 15px;
    right: 15px;
}


/* search*/
#serch{
    width:100%;
    height:110px;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color: black;
    font-weight:bold;
    background-color:white;
}
#search .demo{
    padding-top: 70px;
    padding-left: 30px;
    text-align: center;
    
}
input[type="text"]{
    padding:12px 15px;
    border:1.5px ;
    border-radius: 13px;
    border-style: solid;
    border-color:#919191;
    background-color: #ffffff;

    font-size: 16px; 
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    width: 55%;
    height: 20px;

    outline: none;
    outline-offset: 0;
}
input[type="submit"]{
    margin-top:40px;
    margin-bottom:80px ;
    padding:12px 30px; 
    border:1.5px; 
    cursor:pointer;
    background: #dbcc8d;
    border-radius: 13px;

    font-size: 16px;
    color: #ffffff;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 1s;
}        
input[type="submit"]:hover{   
    transform: scale(1.1)
}
#Type{
    width:100%;
    height:120px;
    position: relative;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color: black;
    font-weight:bold; 
}
#Type .lifefunction{
    width:100%;
    height:100%;
    text-align:center;
    line-height:120px;
    font-size:25px;
    color: black;
    font-weight:bold;
    border:0px #ccc solid;
    position: absolute;
    z-index: -3px;/*-1 可以當背景*/
  
}
#Type{
    background-image: url(./images/background3.jpg);
    background-position:center;
    width:100%;
    height:120px;  
    position: relative;
    text-align:center;
    font-size:15px;
    color: black;
    font-weight:bold; 
}
#Type .tap{
    position: relative;
    width:20%;
    height:87%;
    right:-10%;
    padding: 0px 50px 10px -50px;
    text-align:center;
    line-height:120px;
    font-size:25px;
    color: black;
    font-weight:bold;
    box-sizing: border-box;
    cursor:pointer;
    display: inline-block;
}
#Type .tap a{
    position: relative;
    width:90%;
    height:87%;
    left: 0%;
    padding: 0px 50px 10px -50px;
    text-align:center;
    line-height:120px;
    font-size:25px;
    color: black;
    font-weight:bold;
    box-sizing: border-box;
    cursor:pointer;
    display: inline-block;
}
#Type .active{
    width:8%;
    height:87%;
    left: 40%;
    padding: 0px 50px 10px -50px;
    text-align:center;
    line-height:120px;
    color: black;
    font-weight:bold;
    position: absolute;
    z-index: 2px;/*-1 可以當背景*/
    font-size:25px;
    border-bottom: 5px solid black;
    cursor:pointer;
    display: inline-block;
}
#Type .active:before {
    display: block;
    content: "";
    border-width: 8px 12px 10px;
    border-style: solid;
    border-color: transparent transparent black;
    position: absolute;
    left: calc(50% - 12px);
    bottom: 0;
    display: inline-block;
}

#Body{
    background-image: url(./images/background3.jpg);
    background-position:right bottom;
    width:100%;
    height:500px;
    text-align:center;
    position: relative;
    line-height:280px;
    font-size:15px;
    color:#f9c81e;
    font-weight:bold;
}
#Body .center {
    position: absolute;
    height: 80%;
    width: 855px;
    left: 28%;
    top:35px;
    margin:8px;
}
.center .maps{
    position: absolute;
    left: -14%;
    height: 100%;
    font-size: 25px;
    border: 1px solid #1f3d35;
}
.center .right_bottom {
    position: absolute;
    right:107px;
    bottom: -0.5%;
    height: 82%;
    width: 200px;
}
.center .right_bottom .listing{
    position: absolute;
    border: 1px solid #1f3d35;
    right: 10px;
    bottom: 0px;
}

.center .option{
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 13%;
    width: 304px;
    right: 117px;
    top:0%;
    border: 1px solid #1f3d35;
}
.option .tap{
    position: relative;
    text-align: center;
    bottom: 110px;
    color: rgb(0, 0, 0);
    height: 100%;
    width: 50px;
    line-height: 10px;
    display: inline-block;
    cursor: pointer;
}
.option .active:before {
    display: block;
    content: "";
    border-width: 4px 6px 5px;
    border-style: solid;
    border-color: transparent transparent black;
    position: absolute;
    left: calc(50% - 5px);
    bottom: 0;
}
.option .active{
    position: relative;
    color: black;
    border-bottom: 2px solid black;
    text-align: center;
    bottom: 110px;
    width: 50px;
    height: 35%;
    line-height: 10px;
    display: inline-block;
    cursor: pointer;
}

#Footer{
    width:100%;
    height:80px;
    text-align:center;
    line-height:80px;
    font-size:15px;
    color:#fffaf3;
    font-weight:bold;
    background-color:#d3d3d3;
}